{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container view">
    <h1 class="text-1">Members</h1>
    <div class="contact-details">
        <p>6110613160 Chanokchon Pholkaset</p>
        <p>6310510026 Sureeyanee Duerasor</p>
        <p>6410525023 Saruta Meengam</p>
        <p>6410615105 Pacharapol Suvannachuen</p>
    </div>
    <div class="actions-btn mt-4">
        <button type="" class="btn btn-dark me-3"><a href="{% url 'index' %}">Back</a></button>
    </div>
</div>
{% endblock %}