
{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container view">
    <div class="header view">
        <h3>Product Finder</h3>
        <form method="get" action="{% url 'products' %}">
            <label for="product_name">Product Name:</label>
            <input type="text" id="product_name" name="product_name">
            <button type="submit">Search</button>
        </form>

        {% if products %}
        <h2>Result:</h2>
        <table>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
            </tr>
            {% endfor %}
        </table>
    {% elif result %}
        <p>{{ result }}</p>
    {% endif %}
    </div>
    <br>
    
    <br>
    <a href="{% url 'index' %}" class="btn btn-dark">Back</a>
</div>
{% endblock %}