
{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container view">
    <div class="header view">
        <h3>Product Finder</h3>
        <form method="get" action="{% url 'products' %}" style="margin: 2rem;">
            <label for="product_name" style="color:#744ca6">Product Name:</label>
            <input type="text" id="product_name" name="product_name">
            <button type="submit">Search</button>
        </form>

        {% if products %}
        <h4>Result</h4>
        <table class="spaced table">
            <tr>
                <th>Product Name</th>
                <th>Description</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
            </tr>
            {% endfor %}
        </table>
        {% elif result %}
            <h4 style="font-size: 20px">{{ result }}</h4>
        {% endif %}
    </div>
    <br>
    
    <br>
    <a href="{% url 'index' %}" class="btn btn-dark">Back</a>
</div>
{% endblock %}